/* src/components/CourseList.css */
.file-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.file-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.file-exit {
  opacity: 1;
  transform: translateY(0);
}

.file-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 500ms, transform 500ms;
}